@model LojaCet49.Dados.Entidades.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumContribuinte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumContribuinte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UltimaCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UltimaCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BomPagador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BomPagador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
